body {
    background: -webkit-linear-gradient(left, #ffafbd, #ffc3a0);
    #ffafbd ? #ffc3a0
}

.contact-form {
    background: -webkit-linear-gradient(top, #ffafbd, #ffc3a0);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 20px;
    border: 2px solid black;
}

    .contact-form .form-control {
        border-radius: 1rem;
    }

.contact-image {
    text-align: center;
}

    .contact-image img {
        border-radius: 6rem;
        width: 11%;
        margin-top: -3%;
        transform: rotate(29deg);
        border: 2px solid black;
    }

.contact-form form {
    padding: 14%;
}

    .contact-form form .row {
        margin-bottom: -7%;
    }

.contact-form h2 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #0072ff;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
